html {
    cursor: url('../imagens/mata_mosca.png') 30 30, auto;

}

body {
    background-image: url('../imagens/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    user-select: none;
}

.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    background-color: #fff;
    border-top: solid 1px #fff;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 10px;
    opacity: 0.7;
    width: 190px;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}